.app-space {
  flex: 1 1 auto;
}

.mat-mini-fab {
  margin: 60px 20px -60px 10px;
}

.mat-cell div span {
  display: block;
  font-size: 70%;
  color: #69f0ae;
}

.mat-column-option {
  flex: 0 0 40px;
}
