.app-space {
  flex: 1 1 auto;
}

.mat-mini-fab {
  margin: 60px 20px -60px 10px;
  z-index: 101;
}

.mat-column-option {
  flex: 0 0 40px;
}

.mat-column-createdate, .mat-column-repeat{
  flex: 0 0 80px;
}

.mat-column-total {
  flex: 0 0 90px;
}

.status {
  width: 66vw;
  display: grid;
  grid-template-columns: 33vw 33vw;
  grid-template-rows: auto;
  height: auto;
}
.status .mat-card{
  padding: 20px 20px 0px 0px ;
}