.container {
  display: grid;
  grid-template-columns: 33vw 66vw;
  grid-template-rows: auto;
  height: 100vh;
}
 

.app-space {
  flex: 1 1 auto;
}

h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 120%;
}

h1 .material-icons {
  font-size: 120%;
}

.mat-toolbar {
  background-color: transparent;
}

/*
*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Pacifico', cursive;
*
*/
