/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';
@import "~material-design-icons/iconfont/material-icons.css";
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Raleway;
  color: #fff;
}

* {
  font-family: Raleway;
}

.marg {
  margin: 5px 10px 5px 10px;
}

.mat-app-background {
  /*opacity: .9; */
  background-color: rgba(30, 30, 30, 0.6);
}

html {
  background: url(assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mat-card {
  margin: 10px;
}

/* Truncate text in tables with ellipsis */

.truncate-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-dialog-actions {
  float: right;
}

@keyframes fadeInFromNone {
  0% {
    opacity: .0;
    transform: scale(1);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

button.animatedicon {
  animation: fadeInFromNone 0.5s ease-out;
}

.from-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.from-container>* {
  width: 100%;
}
